<div class="col-md-6">
    <br />
    <br />
    <div class="card">
        <div class="card-header bg-primary">
            Manage Employee Info
        </div>
        <div class="card-body">

            <form [formGroup]="employeeForm" (ngSubmit)="saveForm()">
                <label>
                    firstName:
                    <input formControlName="firstName" />
                </label>
                
                <div *ngIf="submited && f.firstName.errors">
                    <p class="text-danger">
                            required value
                    </p>
                </div>  
                <label>
                    lastName:
                    <input formControlName="lastName" />
                </label>
                <div *ngIf="submited && f.lastName.errors">
                        <p class="text-danger">
                            required value
                        </p>
                    </div>  
                <label>
                       emp email:
                        <input formControlName="email" />
                    </label>
                <p>
                    <button class="btn btn-success">Save</button>

                </p>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<button class="btn btn-primary" (click)="goToBack()">Back To List</button>